__pycache__/
*.py[cod]
*.db
*.sqlite3
*.egg-info/
*.pyd
.venv/
venv/
ENV/
env/
.env/
*.env
*.log
*.pot
local_settings.py
db.sqlite3
.vscode/
.idea/
/static/
/media/
*/migrations/__pycache__/
.DS_Store
Thumbs.db
